.logo {
  display: inline-flex;
  align-items: center;
}

.mark {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 5.4rem;
  height: 5.4rem;
}

.large .mark {
  width: 8rem;
  height: 8rem;
}
